<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head", {title}) %>

  <body>
    <ul>
      <% games.forEach((game) => { %>
      <li>
        <p><%= game.name %></p>
        <p><%= game.rating %></p>
      </li>
      <% }) %>
    </ul>

    <%- include("../partials/footer") %>
  </body>
</html>
